@import url('https://fonts.googleapis.com/css?family=Orbitron');

/* Basic reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(pattern.png)
}

.main {
    background-color: #ccc;
    width: 400px;
    height: 175px;;
    margin: 50px auto;
    position: relative;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-badge {
    background-color: #e66537;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
}

.clock {
    background-color: #ebebeb;
    text-align: center;
    font-size: 55px;
    height: 100%;
    width: 100%;
    padding-top: 35px;
    font-family: Orbitron;
    border-radius: 5px;
}